<footer>
    <div class=container>
    <a href="#">
        <img class="logo2" alt="Terra" src="/assets/logo.png"/>
    </a>
    <h3>Terra</h3>
    <h4>Shelling out sleep.</h4>
    </div>
        <p>Copyright 2024</p>
</footer>