<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Guided Meditation' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1>Guided Meditation</h1>
        <h2>Breathing Exercise</h2>
        <p>Follow the circle below to practice taking deep breaths.</p>
        <div class="orb orb_1">
          </div>
          <h2>Meditations</h2>
          <p>Life can be stressful. Follow the meditations below to take a break from the noise, or to start or end your day. </p>
        <h2>Stress and Anxiety Meditation</h2>
        <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/pxWOpGm4d7U?si=Gyd63IAwzyLUv7mL" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        <h2>Morning Meditation</h2>
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/j734gLbQFbU?si=KX9G8BA1Wvl3PFxZ" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe>
        <h2>Evening Meditation</h2>
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/tZAmfVKPBCA?si=lCzVpuI7LsjdWcMU" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe>

    </main>
    {% include 'footer' %}
  </body>
</html>
