<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Terra' %}
  <body class="home">
    {% include 'header' %}
    <main id="main-content">
      <h1>Terra</h1>
        <img alt="" src="Terra" />
          <p>Terra is dedicated to giving you the type of sleep you deserve. Discover different methods of winding down below. </p>
          <a href="/page2/">
            <h2>White Noise</h2>
          </a>
              <a href="/page2/">
                  <img class="volume" alt="White Noise" src="/assets/volume.png" />
              </a>
          <a href="/page3/"
          <h2>De-Stress Activities</h2>
          </a>
              <a href="/page3/">
                  <img class="smile" alt="De-Stress Activities" src="/assets/smile.png" />
              </a>
            <a href="/page4/"
          <h2>Guided Meditation</h2>
          </a>
              <a href="/page4/">
                      <img class="meditation" alt="Guided Meditation" src="/assets/meditation.png" />
                  </a>
    </main>
    {% include 'footer' %}
  </body>
</html>
