<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 2' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1>White Noise</h1>
          <h2>Rain</h2>
              <iframe width="560" height="315" 
              src="https://www.youtube.com/embed/yIQd2Ya0Ziw?si=PbCEn_TDBfVsAeGd" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
          <h2>Fan</h2>
              <iframe width="560" height="315" 
              src="https://www.youtube.com/embed/qorkD6nPYQM?si=O8YDf0vjakDLjLFA" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
          <h2>Rainforest</h2>
              <iframe width="560" height="315" 
              src="https://www.youtube.com/embed/ubNfkpbxXUs?si=I8OQMsJ0T10FnQ5S" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
    </main>
    {% include 'footer' %}
  </body>
</html>
